{% extends 'otchet/base.html' %}



{% block title %}
    Редактирование траты боса
{% endblock %}

{% load static %}



{% block content %}


            <div class="add_pep_form add_pep_form_update" id="add_spend_boss_form">
                <div class="head_form">
                    <a href="{% url 'spendingboss' %}" class="close" id="close_spend_boss_form"
                       onclick="close_add_spend_boss()">
                        <img src="{% static 'otchet/images/close.png' %}" alt="">
                    </a>
                    <h1>Заполните поля ниже</h1>
                </div>

                <form method="post" class="form_one">
                    {% csrf_token %}
                    {{ form4.as_p }}
                    <input type="text" value="AddSpendingBossForms" name="name_form" hidden="hidden">
                    <button type="submit">Редактировтаь трату</button>
                </form>

            </div>





{% endblock %}