@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*
font-family: 'Montserrat', sans-serif;
*/

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    background: #dbdbdb;
    font-family: 'Montserrat', sans-serif;

}

ul{
    list-style:none;
}

.buttons{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 15px;
}

.but1{
    margin: 10px;
    text-decoration: none;
    background: transparent;
    padding: 3px 19px;
    line-height: 27px;
    border-radius: 31px;
    color: #fff;
    font-weight: 500;
    font-size: 15px;
    transition: 0.2s;
}

header{
    background: #11496a;
    height: 80px;
    width: 100%;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    position: fixed;
    z-index:3;
    box-shadow: 1px 1px 35px #1d2124ad;
}

header a{
    margin: 10px;
    text-decoration: none;
    border: 2px solid #fff;
    padding: 3px 24px;
    line-height: 27px;
    color: #ffffff;
    font-size: 16px;
    font-weight: 500;
    border-radius: 30px;
    transition: 0.2s;
}

.head_head{
    height: 100%;
    display: flex;
    align-items: center;
}

._left{
    border-right: 1px solid #4a4a4a61;
    width: 20%;
    box-shadow: 5px 0px 20px #1010104f;
    margin-right: 33px;
}

._right{
    width: 80%;
}

.info_admin{
    display: flex;
}

.content{
    display:flex;
    justify-content: space-between;
    margin-right: 40px;
}

.but1{
    border: 2px solid #fff;
}

.but2{
    background: #f3d500;
    color: #000;
    border: 2px solid #fff0;
}

a:hover{
    transform: scale(0.9);
    transition: 0.2s;
}

.wrapper-content{
    width: 80%;
    margin-top: 115px;
}

.payments{
    background: #fff;
    border-radius: 10px;
    padding-bottom: 30px;
    margin-top: 20px;
}

.info-user{
    display: flex;
    height: 300px;
}

.avatar{
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}

.text_admin{
    display:flex;
    align-items: center;
}

.text_admin h3{
    font-weight: 500;
    font-size: 16px;
    color: #ffffff;
}

.images{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: #ccc;
}

.infa{
    width: 70%;
}

.infa ul{
    list-style:none;
}

.stolb_payments{
    display: flex;
    justify-content: space-around;
    padding: 0;
    margin: 0;
    border-bottom: 4px double #11496a;
    margin-bottom: 20px;
}

.stolb_payments li{
    width: 33%;
    text-align: center;
    font-size: 18px;
    padding: 15px;
}

.stolb_payments li h5{
    font-size: 21px;
}

.pay{
    display: flex;
    justify-content: space-around;
    height: 36px;
    align-items: center;
    border-bottom: 1px solid #dddddd9c;
}

.pay:hover{
    background: #efefef;
    transition: 0.3s;
    font-weight: 600;
    cursor:pointer;
}

.text_1{
    width: 33%;
    text-align: center;
    height: 30px;
    line-height: 30px;
    position: relative;
    font-size: 18px;
    letter-spacing: 0.002em;
}

.text_1 a{
    position: absolute;
    right: 28px;
    top: -13px;
    width: 34px;
    height: 36px;
    transition:0.2s;
}



.text_1 a img{
    position: relative;
    top: 4px;
    left: 2px;
}

.append{
    display:flex;
    justify-content: space-around;
}

.append_but{
    display:block;
    text-align:center;
    padding: 10px;
    height:43px;
    border: 2px solid #0a5078;
    border-radius: 30px;
    margin-top: 30px;
    background: #fff;
    font-weight: 600;
    color: #1c2428;
    transition:0.3s;
    position:relative;
}

.append_but:hover{
    background: #0a5078;
    color: #fff;
    cursor: pointer;
    transform: scale(0.95);
    transition: 0.3s;
}

.add_pep_form{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000000eb;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transition: 0.3s;
    opacity: 0;
    z-index: 34;
    display: none;
}

.head_form{
    width: 50%;
}

.close{
    height: 20px;
    width: 20px;
    float: right;
    position: relative;
    top: -34px;
}

.close img{
    width: 20px;
    transition: 0.3s;
}

.close img:hover{
    transform:rotate(60deg);
    cursor:pointer;
    transition:0.3s;
}

.head_form h1{
    background: #fff;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
}

.form_one{
    width:50%;
}

.form_one p{

}

.form_one label{
    width: 100%;
    display: block;
    color: #fff;
    margin-bottom: 10px;
    margin-top: 10px;
    font-weight: 600;
}

.form_one input{
    width: 100%;
    padding: 7px;
    box-sizing: border-box;
    font-size: 21px;
}

.form_one select{
    width: 100%;
    padding: 6px;
    font-size: 19px;
}

.form_one button{
    padding: 10px;
    float: right;
    width: 100%;
    background: #2b70b7;
    color: #fff;
    font-weight: 600;
    font-size: 21px;
    margin-top: 20px;
    border: none;
    border-radius: 5px;
    transition: 0.3s;
}

.form_one button:hover{
    cursor: pointer;
    transform: scale(0.98);
    transition: 0.3s;
}

.update_pay{
    padding:10px;
    background:#444;
    color:#fff;
}

.ul_pay_ref{
    width: 109%;
    height: 0;
    overflow: hidden;
    position: absolute;
    top: 78px;
    left: -10px;
    transition: 0.2s;
    z-index: 30;
    background: #fff;
    padding: 0px 20px;
    border-radius: 10px;
}

.ul_pay_ref li{
    padding: 10px;
    border: 2px solid #0a5078;
    border-radius: 30px;
    margin-top: 8px;
    background: #fff;
    font-weight: 600;
    color: #1c2428;
    transition: 0.3s;
    text-align: center;
    transition: 0.3s;
}

.ul_pay_ref li:hover{
    background: #0a5078;
    color: #fff;
    cursor: pointer;
    transform: scale(0.95);
    transition: 0.3s;
}

.but{
    position:relative;
    width: 17%;
}

.append_but2{
    width:100%;
}

.menu{
    width: 17%;
    position: relative;
    top: 100px;
}

.menu ul{
    width: 17%;
    position: fixed;
}

.menu ul li{
    width: 80%;

    justify-content: space-between;
    text-align: right;
    margin-top: 21px;
    margin-left: 10px;

    font-weight: 500;
    color: #1c2428;
    transition: 0.3s;
    position: relative;
}

.menu ul li h4{
    padding:10px;
    font-weight: 600;
    line-height: 24px;
     border: 2px solid #0a5078;
    border-radius: 30px;
    background: #fff;
}

.menu_a{
    font-weight: 600;
    line-height: 24px;
    text-decoration: none;
    color: #000;
    display: block;
    padding: 10px;
    border: 2px solid #0a5078;
    border-radius: 30px;
    background: #fff;
    transition: 0.2s;
}

.menu_a:hover{
    transform: scale(0.95);
    transition: 0.2s;
}

.images_ad{
    position: absolute;
    top: -8px;
    left: -5px;
    background: #11496a;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 6;
}

.otchet{
    width: 70%;
    margin: auto;
    margin-top: 124px;

}

.otchet_wnut{
    background: #fff;
    border-radius: 10px;
    padding-bottom: 50px;
    margin-bottom: 80px;
}

.otchet h1{
        margin-bottom: 20px;
    color: #1e1e1e;
    font-weight: 400;
}

.otchet h2{
    background: #1a6a99;
    color: #fff;
    border-radius: 10px;
    padding: 20px;
    font-size: 30px;
}

.zagol{
    font-size: 26px;
    padding: 20px 0;
    border-bottom: 2px solid #1a6a99;
    color: #1e1e1e;
    font-weight: 600;
}

.itog{
    text-align: right;
    font-size: 25px;
    font-weight: 500;
    color: #fff;
    background: #1a6a99f7;
    padding: 15px;
    border-radius: 10px;
}

.left{
    float: left;
}

.right{
    float:right;
}

#itog_glav li{
margin-bottom: 10px;
}

#itog_glav li h4{
    width: 100%;
    font-weight: 600;
    padding: 5px;
}


#revenue{
background: #40bf44;
    width: 100%;
    padding: 15px !important;
    font-size: 30px;
    color: #fff;
    border-radius: 10px;
    font-weight: 600;
}

#balance{
background: #db1313;
    width: 100%;
    padding: 20px !important;
    font-size: 30px;
    color: #fff;
    border-radius: 10px;
    font-weight: 600;
}

#itog_glav{

}



#itog_glav li:hover{
    background: transparent;
}

.block_otchet{
    width: 70%;
    margin: auto;
    margin-bottom: 40px;
    margin-top: 16px;
}

.block_otchet ul{
    margin: 25px 0px;
}

.block_otchet ul li{
    display: flex;
    justify-content: space-between;
    padding: 5px;
    transition:0.25s;
}

.block_otchet ul li:hover{
    background: #cccccc40;
    border-radius: 4px;
    cursor: pointer;
    padding: 5px 20px;
    transition: 0.25s;
}

.block_otchet ul li h4{
    font-size: 18px;
    font-weight: 400;
}

.block_otchet ul li:hover h4{
    font-weight: 600;
}

.summ_room{
    display: flex;
    width: 66%;
    justify-content: space-between;
}

.copy{
    background: #1a6a99;
    color: #fff;
    padding: 10px;
    height: auto;
    border-radius: 10px;
    float: right;
    line-height: 9px;
    position: fixed;
    right: 3%;
    transition: 0.2s;
    font-weight: 600;
}

.copy:hover{
    transform:scale(0.95);
    cursor:pointer;
    transition:0.2s;
}

.copy span{
    position: relative;
    top: -6px;
    margin: 7px;
}


.payments2{
    width: 70%;
    margin:auto;
    margin-top: 117px;
}

.payments2 h1{
    background: #1a6a99;
    color: #fff;
    border-radius: 10px;
    padding: 20px;
    font-size: 30px;
}

.pagin{
    display:flex;
    justify-content: space-between;
}

.num_page{
    position: relative;
    top: 20px;
}

.num_page ul{
display: flex;
}

.num_page ul li{

}

.num_page ul li a{
    width: 40px;
    display: block;
    height: 40px;
    border: 2px solid #0a5078;
    border-radius: 20px;
    background: #fff;
    line-height: 35px;
    text-align: center;
    margin: 10px;
    text-decoration: none;
    color: #11496a;
    font-weight: 600;
    font-size: 19px;
}

.but5{
    position: relative;
    width: 40%;
    display: flex;
    justify-content: space-between;
}

.ul_pay_ref2{
    display: flex;
    justify-content: space-between;
    width:100%;
}

.ul_pay_ref2 li{
    display: block;
    text-align: center;
    padding: 10px;
    border: 2px solid #0a5078;
    border-radius: 30px;
    margin-top: 30px;
    background: #fff;
    font-weight: 600;
    color: #1c2428;
    transition: 0.3s;
    position: relative;
}

.ul_pay_ref2 li:hover{
    transform:scale(0.95);
    background: #0a5078;
    color:#fff;
    cursor:pointer;
    transition:0.2s;
}

.add_pep_form_update{
    display: flex;
    opacity: 1;
    align-items: center;
    justify-content: center;
}


.menu-media{
position: fixed;
    top: 0;
    right: -108%;
    width: 24%;
    height: 100%;
    background: #fffffff5;
    padding-left: 24px;
    padding-right: 22px;
    box-shadow: 1px 1px 20px #0000004a;
    transition:0.2s;
}

.menu-media ul{
    position: relative;
    top: 64px;
}

.menu-media > img{
    float: right;
    position: relative;
    top: 20px;
    width: 7%;
    transition:0.2s;
}

.menu-media > img:hover{
    transform:scale(0.92);
    cursor:pointer;
    transition:0.2s;
}

.menu-media ul li{
    justify-content: space-between;
    text-align: right;
    margin-top: 21px;
    margin-left: 10px;
    font-weight: 500;
    color: #1c2428;
    transition: 0.3s;
    position: relative;
}

.images_ad_media{
position: absolute;
    top: -8px;
    left: -5px;
    background: #11496a;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 6;
}

.images_ad_media img{

}

.menu-media ul li a{

}

.burger_menu{
    display:none;
    margin: 0 0 0 20px;
    transition:0.2s;
}

.burger_menu:hover{
    transform:scale(0.92);
    cursor:pointer;
    transition:0.2s;
}

.delete_knop{
    right: -14px !important;
    top: -14px !important;
    background: #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.delete_knop img{
    width: 16px;
    top: 0 !important;
    left: 0 !important;
}

.kol-vo{
    display: flex;
    margin-top: 30px;
    font-size: 25px;
    font-weight: 600;
    line-height: 43px;
    align-items: center;

}

.kol-vo h3{
margin-right: 20px;
}

.kol-vo span{
    background: #fff;
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 50%;
    line-height: 50px;
}